.divTable{
	display: table;
	table-layout: fixed;
}
.divTableRow {
	display: table-row;
}
.divTableCell {
	display: table-cell;
}
.acorde {
	text-align: center;
}
.barra {
}
.comentario {
	display: table-caption;
}
.barra, .acorde {
}
pre {
	font-family: inherit;
	font-size: inherit;
}
@font-face {
	font-family: Boogaloo;
	src: url(../fonts/Boogaloo.woff2);
}
body { 
	font-family: "Boogaloo";
}
