.divTable{
	display: table;
  table-layout: fixed;
}
.divTableRow {
	display: table-row;
}
.divTableCell {
	display: table-cell;
}
.acorde {
  text-align: center;
  width: 10%;
  font-size: 30px;
}
.barra {
  width: 1%;
  font-size: 80px; 
}
.comentario {
  margin-bottom: 5px;
}
.barra, .acorde {
  padding-right: 5px;
}
pre {
  font-family: inherit;
  font-size: inherit;
}
@font-face {
  font-family: Boogaloo;
  src: url(../fonts/Boogaloo.woff2);
}
body { 
    font-family: "Boogaloo";
}
