.divTable{
	display: table;
  table-layout: fixed;
}
.divTableRow {
	display: table-row;
}
.divTableCell {
	display: table-cell;
}
.acorde {
  text-align: center;
  width: 10%;
}
.barra {
  width: 1%;
}
.comentario {
  margin-bottom: 5px;
}
.barra, .acorde {
  padding-right: 5px;
}
pre {
  font-family: inherit;
  font-size: inherit;
}
@font-face {
    font-family: "My Custom Font";
    src: url(Bravura.woff) format("truetype");
}
pre.customfont { 
    font-family: "My Custom Font", Verdana, Tahoma;
}
